global
	log /dev/log	local0 debug
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

	# Default SSL material locations
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	# See: https://ssl-config.mozilla.org/#server=haproxy&server-version=2.0.3&config=intermediate
        ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
        ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
        ssl-default-bind-options ssl-min-ver TLSv1.3 no-tls-tickets

	userlist profiler_users
	user admin1 insecure-password zDi8P=qGUk+DKrzdwrwN

defaults
	log		global
	mode	http
	option	httplog
	option	forwardfor
	option	dontlognull

	option  log-separate-errors
	option  log-health-checks
	log-format "%ci:%cp [%tr] %ft %b/%s %TR/%Tw/%Tc/%Tr/%Ta %ST %B %CC %CS %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs %{+Q}r"

    timeout connect 10s
    timeout client  1h
    timeout server  1h
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

frontend front_ssl
	bind *:443 ssl crt /etc/apache2/RemoteLabz-WebServer.pem alpn http/1.1

# === Add stats === 
#	stats enable
#	stats uri     /admin?stats
	stats realm   HAProxy\ Statistics
	stats auth    admin1:sdfdsf23Ff$42ffZEFez
	stats auth    admin2:gfgeDFZ$T43$FEfsd$
	stats auth    admin3:QH45$ghE$67eez$3R

	stats hide-version
	stats refresh 30s
	stats show-legends
	stats show-desc Statistiques HAProxy - RemoteLabz

	 # Détection WebSocket
	acl is_websocket path_beg	/device/
	acl is_websocket hdr(Upgrade) -i WebSocket
	acl is_websocket hdr(Upgrade) -i websocket

	# === Restriction d'accès au profiler ===
	# ACL pour détecter l'accès au profiler
	acl is_profiler path_beg /_profiler
	acl is_staging_domain hdr(host) -i staging.remotelabz.com
	acl profiler_auth http_auth(profiler_users)
	acl allowed_ips src 192.168.11.128/25

	# Si accès au profiler sur staging ET que l'IP n'est pas autorisée ET pas authentifié => demander authentification
	http-request auth realm Profiler if is_profiler is_staging_domain !allowed_ips !profiler_auth

	# Si accès au profiler sur staging ET que l'IP n'est pas autorisée ET pas authentifié => bloquer
	# (cette ligne est optionnelle car http-request auth bloque déjà)
	
	# Bloquer l'accès au profiler (retourne une erreur 403)
	http-request deny if is_profiler is_staging_domain
	
	# Route WebSocket en priorité
	use_backend ws_backend if is_websocket

	# Default : trafic HTTP/HTTPS classique vers Apache
	default_backend apache_ssl

# === BACKEND APACHE HTTPS 8443 ===
backend apache_ssl
    mode http

	# Statistiques pour ce backend
	stats enable
	stats hide-version
	stats show-legends

	option forwardfor 

	# option httpchk GET /
	http-request set-header X-Forwarded-Proto https
	http-request set-header X-Forwarded-For %[src]
	http-request set-header X-Forwarded-Port 443
	http-request set-header X-Forwarded-Host %[req.hdr(Host)]

    server apache1 127.0.0.1:8443 ssl verify none

# === BACKEND WebSocket (configurable-http-proxy) ===
backend ws_backend
	mode http
	option forwardfor

	# Statistiques pour ce backend
	stats enable
	stats hide-version
	stats show-legends


	# Nécessaire pour websocket
	option http-server-close
	timeout tunnel 1h

	# To lxc login which is too long
	timeout http-request 60s
	timeout server 1h
	timeout client 1h
	option http-buffer-request
	no option httpclose

	# For Websocket
	http-request set-header Upgrade %[req.hdr(Upgrade)]
	http-request set-header Connection "upgrade"
	http-request set-header X-Forwarded-Proto https
	http-request set-header X-Forwarded-Port 443

	server chp1 127.0.0.1:8000 ssl verify none
