{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="content-wrapper full-page-width d-flex align-items-center" style="margin-left:0; width:100vw;">
        <div class="row w-100">
            <div class="col-lg-4 mx-auto">
                <div class="auto-form-wrapper">
                <h1>Sign in</h1>
                    {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                    <form role="form" method="POST">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@</span>
                                </div>
                                <input class="form-control" placeholder="user@domain.com" name="email" type="email" required autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@</span>
                                </div>
                                <input type="password" class="form-control" placeholder="*********" name="password" value="" required>
                            </div>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="form-group">
                            <button class="btn btn-success submit-btn btn-block" name="submit">Sign in</button>
                        </div>
                        {# Add remember_me and forgot_password #}
                        {# <div class="form-group d-flex justify-content-between">
                            <div class="form-check form-check-flat mt-0">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" checked> Keep me signed in
                                </label>
                            </div>
                            <a href="#" class="text-small forgot-password text-black">Forgot Password</a>
                        </div> #}
                    </form>
                </div>
                <ul class="auth-footer">
                    {# <li>
                        <a href="#">Conditions</a>
                    </li>
                    <li>
                        <a href="#">Help</a>
                    </li>
                    <li>
                        <a href="#">Terms</a>
                    </li> #}
                </ul>
                <p class="footer-text text-center">Design by Bootstrapdash. Made by F. Nolot, J. Hubert & O. Flauzac.</p>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>
{% endblock %}