security:
    encoders:
        App\Entity\User:
            algorithm: 'sodium'

    # https://symfony.com/doc/current/security.html#where-do-users-come-from-user-providers
    providers:
        # used to reload user from session & other features (e.g. switch_user)
        app:
            entity:
                class: App\Entity\User
                property: email

    role_hierarchy:
        ROLE_TEACHER: [ROLE_USER]
        ROLE_ADMINISTRATOR: [ROLE_TEACHER]
        ROLE_SUPER_ADMINISTRATOR: [ROLE_ADMINISTRATOR]

    firewalls:
        auth:
            pattern:  ^/api/auth
            stateless: true
            anonymous: true
            json_login:
                check_path:               /api/auth
                success_handler:          App\Security\AuthenticationSuccessHandler
                failure_handler:          lexik_jwt_authentication.handler.authentication_failure

        refresh:
            pattern:  ^/api/auth/refresh
            stateless: true
            anonymous: true

        api_doc:
            pattern:   ^/api/doc
            security: false

        api:
            pattern:   ^/api
            stateless: true
            guard:
                authenticators:
                    - lexik_jwt_authentication.jwt_token_authenticator

        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        profile_picture:
            pattern: ^/users/\d+/picture
            security: false

        default:
            anonymous: true
            guard:
                authenticators:
                    - App\Security\LoginFormAuthenticator
                    - App\Security\ShibbolethAuthenticator
                entry_point: App\Security\LoginFormAuthenticator

            logout:
                path: logout
                success_handler: App\Security\LoginFormAuthenticator

            # activate different ways to authenticate

            # http_basic: true
            # https://symfony.com/doc/current/security.html#a-configuring-how-your-users-will-authenticate

            # form_login: true
            # https://symfony.com/doc/current/security/form_login_setup.html

    # Easy way to control access for large sections of your site
    # Note: Only the *first* access control that matches will be used
    access_control:
        - { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/password, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/api/auth, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/api, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/labs, roles: ['ROLE_USER'] }
        - { path: ^/activities, roles: ['ROLE_USER'] }
        - { path: ^/admin, roles: ['ROLE_ADMINISTRATOR'] }
        - { path: ^/, roles: ['ROLE_USER'] }
