{% extends 'lab/index.html.twig' %}

{% block breadcrumbs %}
    {% set breadcrumbs = app.request.uri ends with 'edit' ? breadcrumbs : breadcrumbs|merge({ 'New': path('new_lab') }) %}
    {{ parent() }}
{% endblock %}

{%- set edit = app.request.uri ends with 'edit' -%}

{% block wrapper_xl %}
<div class="row">
    <div class="col grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                {# <div class="hidden-md hidden-lg container" id="small">
                    <div class="jumbotron">
                        <div class="container">
                            <h1>Display too small</h1>
                            <p>This device is not large enough, you need 992px width at least.</p>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm container-fluid" id="body">
                    <div style="background-color: #3ba9b9; bottom: 0px; left: 0px; position: absolute; right: 0px; top: 0px;">
                        <div class="container">
                            <img src="../../eve/images/wait.gif" style="width:410px;-ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); border: 0px; left: 50%; max-height: 100%; max-width: 100%; position: absolute; top: 50%; transform: translate(-50%, -50%);"/>
                        </div>
                    </div>
                </div> #}
                <div id="labEditor" class="editor-wrapper"></div>
                {# TODO: Uncomment form editor when graphical will be over #}
                {# {{ form(labForm) }} #}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('editor-react') }}
{% endblock %}