<h2>
Test de configuration réseau sous linux</h2>
<ul>
	<li>Connectez-vous avec les identifiants indiqués sur le terminal</li>
	<li>Lister les interfaces réseaux avec la commande <pre>ip link show</pre></li>
	<li>Identifier la carte réseau ethX (la valeur de X dépend de votre machine)</li>
	<li>Tapez<pre>dhclient ethX</pre> afin de récupérer une IP via le serveur DHCP configuré sur le réseau</li>
	<li>Trouvez l'adresse IP que le serveur DHCP vous a attribuée en tapant la commande <pre>ip addr show</pre></li>
	<li>Testez votre connexion réseau en effectuant un <pre>ping www.google.fr</pre></li>
</ul>