<h2>
Test de configuration réseau sous linux</h2>
<ul>
	<li>Connectez-vous avec les identifiants indiqués sur le terminal</li>
	<li>Lister les interfaces réseaux avec la commande <pre>ip link show</pre></li>
	<li>Identifier la carte réseau ethX (la valeur de X dépend de votre machine)</li>
	<li>Saisir une adresse IP sur chaque système<pre>ip addr add A.B.C.D/24 dev ethX</pre></li>
	<li>Activez au besoin votre interface réseau<pre>ip link set dev ethX up</pre></li>
	<li>Vérifiez l'adresse IP que vous avez affecté<pre>ip addr show</pre></li>
	
	<li>Testez votre connexion entre les 2 systèmes un <pre>ping</pre></li>
</ul>
