monolog:
    channels: ['app', 'doctrine', 'security', 'request', 'messenger', 'php', 'event', 'security_events', 'console', 'deprecation']
    handlers:
        main:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%.log"
            level: debug
            channels: ["!event", "!doctrine","!request", "!messenger", "!php","!security_events"]
        security:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%_security.log"
            level: debug
            channels: ["security"]
        doctrine:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%_doctrine.log"
            level: debug
            channels: ["doctrine"]
        deprecation:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%_deprecation.log"
            level: debug
            channels: ["deprecation"]
        
        app:
            type: service
            id: App\Monolog\Handler\IgnoreSecurityEventsHandler
            channels: ["!event", "!doctrine", "!security", "!request", "!messenger", "!php","!deprecation"]
            
        messenger:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%_messenger.log"
            level: debug
            channels: ["messenger"]
        php:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%_php.log"
            level: debug
            channels: ["php"]
        request:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%_request.log"
            level: debug
            channels: ["request"]
        event:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%_event.log"
            level: debug
            channels: ["event"]
        console:
            type: console
            process_psr_3_messages: false
            channels: ["!event", "!doctrine", "!console"]