monolog:
    channels: ['app', 'doctrine', 'security', 'request', 'messenger', 'php', 'event', 'security_events', 'console', 'deprecation']
    handlers:
        main:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%.log"
            level: info
            channels: ["!event", "!doctrine","!request", "!messenger", "!php","!security_events","!deprecation"]
        security:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%_security.log"
            level: info
            channels: ["security"]
        doctrine:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%_doctrine.log"
            level: info
            channels: ["doctrine"]
        deprecation:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%_deprecation.log"
            level: info
            channels: ["deprecation"]
        app:
            type: service
            id: App\Monolog\Handler\IgnoreSecurityEventsHandler
            channels: ["!event", "!doctrine", "!security", "!request", "!messenger", "!php","!deprecation"]
            
        messenger:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%_messenger.log"
            level: info
            channels: ["messenger"]
        php:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%_php.log"
            level: info
            channels: ["php"]
        request:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%_request.log"
            level: info
            channels: ["request"]
        event:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%_event.log"
            level: info
            channels: ["event"]
        console:
            type: console
            process_psr_3_messages: false
            channels: ["!event", "!doctrine", "!console"]
        syslog_handler:
            type: fingers_crossed
            action_level: notice
            # log error-level messages and higher
            excluded_http_codes: [403, 404]
            handler:    deduplicated
        deduplicated:
            type:    deduplication
            handler: symfony_mailer
            time: 120
        symfony_mailer:
            type:       symfony_mailer
            from_email: '%env(resolve:CONTACT_MAIL)%'
            to_email:   '%env(resolve:CONTACT_MAIL)%'
            subject:    '[%env(resolve:MAIL_SUBJECT)%] An Error Occurred!'
            level:      info
            formatter:  monolog.formatter.html
            content_type: text/html