/////////// GENERAL ///////////

html, body
{
  font-size: $default-font-size;
  background-color: $white;
}

* {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, fill 0.15s ease-in-out;
}

svg {
  fill: currentColor;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

.page-title {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.3;
}

.text-muted {
  color: #707070 !important;
  fill: currentColor;
}

.container-limited
{
  max-width: 990px;
}

.container-limited-xl
{
  max-width: 1280px;
}

.navbar {
  min-height: $navbar-height;
  background-color: theme-color(primary);
  color: $white;
  min-height: 40px;
  list-style: none;

  .navbar-brand-wrapper .navbar-brand {
    color: $white;
  }

  .navbar-nav {
    font-size: 0.875rem;

    .nav-item {
      .nav-link {
        font-weight: 600;
      }
    }
  }

  .navbar-menu-wrapper .navbar-nav .nav-item.lang-dropdown .nav-link, .navbar-menu-wrapper .page-name {
    color: $white;

    :hover {
      color: $white
    }
  }
}

// .tooltip {
//   padding: 8px 16px;
// }

a {
  color: theme-color(primary);

  &:hover, &:active {
    color: theme-color(primary);
  }
}

p {
  font-size: 1rem;
}

img {
  max-width: 100%;
}

.fw600 {
  font-weight: 600;
}

.fixed-top {
  z-index: 3;
}

.prepend-top-default {
  margin-top: 16px !important;
}

.content-list {
  font-size: 14px;
}

img.rounded-circle {
  border: 1px solid rgba(0,0,0,0.1);
}

.dropdown-toggle-no-caret::after {
  content: none !important;
}

.dropdown-item {
  line-height: initial;
}

/////////// CARDS ///////////

.content-block {
  border-bottom: 1px solid #e5e5e5;
}

.flashbag-container {
  margin-top: 0.5rem;

  &:empty {
    display: none;
    margin-top: 0;
  }
}

.content-title {
  padding: 10px 0;
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  color: #2e2e2e;
  line-height: 34px;

  .content-title-infos {
    flex: 2;
    
    h1 {
      margin-bottom: 0;
    }
  }
}

.content-body {
  padding: 16px 0;
}

.content-list {
  > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid #f0f0f0;

      > .item-left {
        flex-grow: 1;

        .item-title {
          display: flex;
          align-items: center;
          font-weight: 600;
          color: #4c4e54;
        }
      }

      > .item-right {
        display: flex;
        align-items: center;
        text-align: right;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.identicon {
  color: #4f4f4f;
  text-align: center;
  font-size: 16px;

  &.s60 {
    font-size: 32px;
    line-height: 58px;
  }
}

.item-margin {
  > * {
    margin: 0px 5px;

    &:first-child {
      margin-left: 0px;
    }

    &:last-child {
      margin-right: 0px;
    }
  }
}

/////////// FORMS ///////////

// legend
// {
//   border-bottom: 1px solid $border-color;
//   margin-bottom: 20px;
// }

.form-group
{
  label, legend, label.col-form-label, legend.col-form-label {
    font-weight: 600;
    padding-right: 15px;
    margin-bottom: 0.5rem;

    &.form-check-label {
      text-align: left;
    }
  }
  
  div {
    font-size: 14px;
  }
}

.input-group-prepend {
  margin-right: -2px;
}

.input-group > .form-control, .input-group > .custom-select, .input-group > .custom-file {
  height: auto;
}

.CodeMirror {
  height: 600px !important;

  &.CodeMirror-fullscreen {
    height: auto !important;
  }
}

/////////// SIDEBAR ///////////////

.page-body-wrapper {
  .sidebar+.content-wrapper {
    padding-left: 220px;
  }

  .content-wrapper {
    margin-top: $navbar-height;
  }
}

@media (max-width: 767.98px) {
  .sidebar {
    transition: margin-left 100ms ease;
    -webkit-transition: margin-left 100ms ease;
    -moz-transition: margin-left 100ms ease;
    -ms-transition: margin-left 100ms ease;

    margin-left: -220px;

    &.sidebar-expanded {
      margin-left: 0;
    }
  }
}

/////////// BREADCRUMBS ///////////

.container-header-wrapper {
  align-items: center;
  // padding: 8px 0px;
  // border-bottom: 1px solid #e5e5e5;

  .show-sidebar {
    display: none;

    @media (max-width: 767.98px) {
      display: flex;
    }

    padding: 6px 16px;
    margin: 0 0 0 -15px;
    fill: gray;
    font-size: 11px;
    border-right: 1px solid #e5e5e5;
  }

  @media (max-width: 767.98px) {
    .show-sidebar {
      display: flex;
    }
  }
}

.breadcrumb {
  border: initial;
  background: initial;
  // padding: $breadcrumb-custom-padding-y $breadcrumb-custom-padding-x;
  padding: 16px 0px;
  // min-height: 48px;
  align-items: center;
  margin-bottom: 0;
  // padding-left: 16px;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 0;

  .breadcrumb-item {
    font-size: 12px;
    color: #707070;
    position: relative;
    padding-right: 20px;

    a {
      color: inherit;
      font-weight: inherit;
    }

    svg {
      position: absolute;
      right: 7px;
      top: 50%;
      color: #919191;
      transform: translateY(-50%);
      fill: currentColor;
      width: 8px;
      height: 8px;
    }

    &:last-of-type {
      color: #2e2e2e;
      font-weight: 600;
    }
  }

  .breadcrumb-item + .breadcrumb-item {
    padding-left: 0;
  }

  .breadcrumb-item + .breadcrumb-item::before {
    display: unset;
    padding-right: unset;
    color: unset;
    content: unset;
  }
}

/////////// AUTH LANDING PAGE ///////////

.auth.theme-one .auto-form-wrapper .form-group .input-group .form-control
{
  border-radius: 6px;
  border-right: 1px solid #e5e5e5;
}

/**
 * Selectize.js
 */

.form-control.selectize-control
{
  height: auto;

  .selectize-input
  {
    div.item {
      background-color: theme-color(info);
      padding: $input-btn-padding-y $input-btn-padding-x;
      border-radius: $btn-border-radius-sm;
      color: $white;
      display: inline-block;
      margin: 0.125rem 0.185rem;
  
      :last-child
      {
        margin-right: 0;
      }
  
      :first-child
      {
        margin-left: 0;
      }

      a {
        color: $white;
        display: inline-block;
        padding-left: $input-btn-padding-x-sm;
        font-size: $default-font-size;
        text-decoration: none;
      }
    }
    
    /*input {
      opacity: 0 !important;
    }*/
  }

  .selectize-dropdown
  {
    position: absolute;
    height: auto;
    max-height: 200px;
    overflow-y: scroll;
    padding: 0;
    z-index: 99999;

    .selectize-dropdown-content
    {
      div.option
      {
        padding: $input-btn-padding-y $input-btn-padding-x;

        &.active
        {
          color: $white;
          background-color: theme-color(info);
          cursor: pointer;
        }
      }
    }
  }
}

.selectize-control.plugin-clear_button .clear {
  text-decoration: none;
  display: flex;
  position: absolute;
  height: 100%;
  width: 25px;
  top: 0;
  right: calc(8px - 2px);
  //opacity: .8;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  z-index: 1;
  font-size: 21px;
  justify-content: center;
  align-items: center;
}

// .navbar .navbar-brand-wrapper .navbar-brand {
//   transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function, fill $action-transition-duration $action-transition-timing-function;

//   padding: 5px;
//   border-radius: 4px;

//   &:hover,
//   &:focus {
//     background-color: rgba(209,209,240,0.2);
//     fill: $white;
//   }

//   img {
//     width: unset;
//     // max-width: 70%;
//     max-height: 24px;
//   }
// }

.select2-container--bootstrap-5 {
  display: block;
  width: 100% !important;
  margin-right: 1rem !important;
  border-radius: 4px;
  .select2-dropdown {
    border-color: #999;
    padding: 4px;
    .select2-search {
      .select2-search__field:focus {
        box-shadow: none;
        border-color: #999;
      }
    }
    .select2-results {
      .select2-results__options {
        .select2-results__option.select2-results__option--selected {
          background-color: #d4d4d4;
          color: #212529;
          border-radius: 2px; 
        }
        .select2-results__option.select2-results__option--selected.select2-results__option--highlighted {
          background-color: #e5e7e9;
          border-radius: 2px; 
        }
        .select2-results__option.select2-results__option--selectable.select2-results__option--highlighted {
          background-color: #e5e7e9;
          border-radius: 2px; 
        }
      }
    }
  }
}

.select2-container--bootstrap-5.select2-container--focus {
  .select2-selection {
    box-shadow: 0 0 0 .20rem rgba(0,123,255,0.25);
  }
}
.select2-container--bootstrap-5.select2-container--open {
  .select2-selection {
    box-shadow: 0 0 0 .20rem rgba(0,123,255,0.25);
  }
}

/////// FULL CALENDAR ////////

.fc .fc-col-header {
  background-color: #dad8d8;
}

.fc .fc-col-header-cell-cushion {
  color:black;
}

.fc .fc-timegrid-axis-cushion {
  color: black;
}

.fc .fc-col-header-cell-cushion:hover {
  text-decoration: none;
}

.fc .fc-timegrid-axis-cushion:hover {
  text-decoration: none;
}

.fc .fc-daygrid-day.fc-day-today, .fc .fc-timegrid-col.fc-day-today {
  background-color: #eeeeee;
}

.fc-daygrid-week-number:hover {
  text-decoration: none;
}

.fc-timegrid-event-harness-inset .fc-timegrid-event {
  box-shadow: none;
}

.fc .fc-view-harness {
  background-color: #fafafa;
}

.fc .fc-button-primary {
  background-color: #382b71;
  border-color: #382b71;
}

.fc .fc-button-primary:not(:disabled):hover {
  background-color: #2b2157;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  background-color: #2b2157;
}

.fc .fc-button-primary:disabled {
  background-color: #382b71;
  border-color: #382b71;
  opacity: 0.5;
}

.fc .fc-daygrid-day-number {
  color: black;
}

.fc .fc-daygrid-day-number:hover {
  text-decoration: none;
}

.fc-daygrid-event {
  color: black;
}

.fc-daygrid-event:hover {
 color: rgb(45, 45, 45);
}

.fc .fc-day-other .fc-daygrid-day-top {
  opacity: 0.5;
}



.btn i {
  margin-right: 0;
}

.top-panel, .search-panel {
  border-bottom: 1px solid #e5e5e5;
}

.top-panel {
  .nav-tabs {
    border-bottom: none;
  }

  .nav-links {
    li {
      color: #707070;
      &.active {
        color: #2e2e2e;

        a {
          border-bottom: 2px solid lighten($color: map-get($theme-colors, primary), $amount: 20%);
          color: inherit;
          font-weight: 600;
          
          .badge.badge-pill {
            color: inherit;
            font-weight: 600;
          }
        }
      }
      a {
        transition: color $action-transition-duration $action-transition-timing-function, border-bottom $action-transition-duration $action-transition-timing-function;
        color: inherit;
        text-decoration: none;
        padding: 10px;
        padding-bottom: 11px;
        line-height: 28px;
        display: inline-block;

        &:hover {
          color: #2e2e2e;
          border-bottom: 2px solid #c4c4c4;
        }

        .badge.badge-pill {
          background-color: rgba(0,0,0,0.07);
          color: inherit;
          vertical-align: baseline;
        }
      }
    }
  }

  .quick-actions {
    float: right;
    padding: 8px 0px;
  }
}

.nav-tabs {
  li {
    a {
      color: #707070;
      transition: color $action-transition-duration $action-transition-timing-function, border-bottom $action-transition-duration $action-transition-timing-function;
      color: inherit;
      text-decoration: none;
      padding: 10px;
      padding-bottom: 11px;
      line-height: 28px;
      display: inline-block;

      &:hover {
        color: #2e2e2e;
        border-bottom: 2px solid #c4c4c4;
      }

      &.active {
        color: #2e2e2e;
        border-bottom: 2px solid lighten($color: map-get($theme-colors, primary), $amount: 20%);
        color: inherit;
        font-weight: 600;
        
        .badge.badge-pill {
          color: inherit;
          font-weight: 600;
        }
      }

      .badge.badge-pill {
        background-color: rgba(0,0,0,0.07);
        color: inherit;
        vertical-align: baseline;
      }
    }
  }
}

// fix react components in tabs
.tab-pane.fade:not(.active) {
  display:none;
}

.search-field {
  position: relative;
  color: inherit;
  margin-top: 2px;
  padding-right: 10px;

  svg, i {
    position: absolute;
    top: 11px;
    left: 10px;
    color: #c4c4c4;
    font-size: 13px;
  }

  input {
    padding-left: 31px;
    padding-right: 31px;
  }
}

.search-panel {
  background-color: #fafafa;
  padding: 16px;

  .search-field {
    margin-top: 0;
    padding-right: 0;
  }
}

.item-panel {
  .item {
    font-size: 14px;
    padding: 16px 8px;
    
    .badge {
      margin-bottom: 0;
    }

    .item-name {
      color: #2e2e2e;
      font-weight: 600;
    }

    .item-user-email {
      transition: color $action-transition-duration $action-transition-timing-function;
      color: #707070;

      &:hover {
        color: #d4d4d4;
      }
    }
  }

  &.user-panel {
    .item {
      padding: 16px 0;
    }
  }
}

.labs-panel {
  .lab-item {
    font-size: 14px;
    padding: 10px 0 10px 16px;

    .lab-item-name {
      color: #2e2e2e;
      font-weight: 600;
    }

    .lab-item-author {
      color: #2e2e2e;
    }
  }
}

.lab-item-counter-icon {
  width: 14px;
  height: 14px;
}

.lab-item-counter-empty {
  opacity: 0.5;
}

.lab-booking-active {
  background-color: #d1d1df8a;
  // background-color: rgb(224, 223, 223);
}

.dropdown-menu {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-top: 4px;
}

.content-list {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    border-top: 1px solid #f0f0f0;

    &::after {
      display: block;
      clear: both;
      content: "";
    }
  }

  > li:first-child {
    border-top: none;
  }

  .title {
    font-size: 16px;
    color: #2e2e2e;
  }
}

.group-list-tree .group-list-tree {
  margin-bottom: 0;
  margin-left: 30px;
  position: relative;

  li {
    position: relative;
  }

  &::before {
    content: '';
    display: block;
    width: 0;
    position: absolute;
    top: 5px;
    bottom: 0;
    left: -16px;
    border-left: 2px solid #e3e3e3;
  }

  li::before {
    content: '';
    display: block;
    width: 10px;
    height: 0;
    border-top: 2px solid #e3e3e3;
    position: absolute;
    top: 30px;
    left: -16px;
  }

  li:last-child::before {
    background: #fff;
    height: auto;
    top: 30px;
    bottom: 0;
  }

  > li:first-child {
    border-top: 1px solid #f0f0f0;
  }
}

.group-row-contents {
  padding: 16px;
  &:hover {
    background-color: #f6fafe;
    cursor: pointer;
  }
}

/// ICONS

.image-sm {
  width: 16px;
  height: 16px;
}

.v-sub {
  vertical-align: sub;
}

.v-bottom {
  vertical-align: bottom;
}

.badge {
  padding: 4px 5px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  display: inline-block;
}

.badge-warning {
  color: $white;
}

.group-user-role {
  border: 1px solid #e5e5e5;
  border-radius: 100px;
  padding: 0 7px;
  font-size: 12px;
  line-height: 20px;
  color: #707070;
  max-height: 24px;
}

.flex-basis-0 {
  flex-basis: 0 !important;
}

$size-count: 64;

@for $i from 1 through $size-count {
  .s#{$i} {
    width: $i + px;
    height: $i + px;
  }
}

@for $i from 1 through $size-count {
  .w#{$i} {
    width: $i + px !important;
  }
}

@for $i from 1 through $size-count {
  .h#{$i} {
    height: $i + px !important;
  }
}

$bg-number: 8;

@for $i from 1 through $bg-number {
  .bg-#{$i} {
    background-color: hsl($i * (360 / $bg-number + 32), 60%, 90%);
  }
}

$grid-number: 12;

@for $i from 1 through $grid-number {
  .grid-#{$i} {
    display: grid;
    grid-template-columns: repeat($i, 1fr);
  }
}

@include media-breakpoint-up(xs) {
  @for $i from 1 through $grid-number {
    .grid-xs-#{$i} {
      display: grid;
      grid-template-columns: repeat($i, 1fr) !important;
    }
  }
}

@include media-breakpoint-up(sm) {
  @for $i from 1 through $grid-number {
    .grid-sm-#{$i} {
      display: grid;
      grid-template-columns: repeat($i, 1fr) !important;
    }
  }
}

@include media-breakpoint-up(md) {
  @for $i from 1 through $grid-number {
    .grid-md-#{$i} {
      display: grid;
      grid-template-columns: repeat($i, 1fr) !important;
    }
  }
}
@include media-breakpoint-up(lg) {
  @for $i from 1 through $grid-number {
    .grid-lg-#{$i} {
      display: grid;
      grid-template-columns: repeat($i, 1fr) !important;
    }
  }
}
@include media-breakpoint-up(xl) {
  @for $i from 1 through $grid-number {
    .grid-xl-#{$i} {
      display: grid;
      grid-template-columns: repeat($i, 1fr) !important;
    }
  }
}

@media (min-width: 1600px) {
  @for $i from 1 through $grid-number {
    .grid-xxl-#{$i} {
      display: grid;
      grid-template-columns: repeat($i, 1fr) !important;
    }
  }
}

.dropzone {
  border: 5px dashed #ddd;
  border-radius: 5px;
  background-color: #f5f5f5;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  cursor: pointer;
}

.lined-separator {
  overflow: hidden;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0px;
  color: #707070;

  &::before, &::after {
    background-color: #e1e1e1;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &::before {
    right: 0.5em;
    margin-left: -50%;
  }

  &::after {
    left: 0.5em;
    margin-right: -50%;
  }
}

.code {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 12px;
  font-weight: normal;
}

.tippy-tooltip.remotelabz-theme {
  background-color: rgb(233, 230, 240);
  color: black;
}

/** media specific */

[theme="dark"] {
  background-color: var(--dark);

  html, body {
    background-color: theme-color("dark");
    color: theme-color("light");
  }

  .text-muted {
    color: #9b9b9b !important;
    fill: currentColor;
  }

  a {
    color: lighten(map-get($theme-colors, primary), 30%);

    &:hover {
      color: lighten(map-get($theme-colors, primary), 40%)
    }
  }

  pre {
    background: lighten(map-get($theme-colors, "dark-lighter"), 5%);
    color: #52ceab;
  }

  hr {
    border-top-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
  }

  .container-header-wrapper {
    border-color: lighten(map-get($theme-colors, "dark"), 10%);
  }

  .content-title {
    color: theme-color("light");
    border-color: lighten(map-get($theme-colors, "dark"), 10%);
  }

  .breadcrumb {
    border-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);

    .breadcrumb-item {
      &:last-of-type {
        color: lighten(#2e2e2e, 30%);
      }
    }
  }

  .select2-container--bootstrap-5 {
    background-color: theme-color("dark-lighter");
    border-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
    display: block;
    width: 100% !important;
    margin-right: 1rem !important;
    border-radius: 4px;
    .selection {
        background-color: theme-color("dark-lighter");
        border-color: theme-color("dark-lightest");
        .select2-selection--single {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
            .select2-selection__rendered {
                color: theme-color("light");
            }
        }
        .select2-selection {
          background-color: theme-color("dark-lighter");
          border-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
          .select2-selection__choice__display {
            color: darken(map-get($theme-colors, "light"), 5%);
          }
          .select2-search {
            background-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
            .select2-search__field {
              background-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
              color: theme-color("light");
            }
          }
        }
    }
    .select2-dropdown {
      background-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
      border-color: lighten(map-get($theme-colors, "dark-lightest"), 25%);
      .select2-search {
        background-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
        .select2-search__field {
          background-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
          color: theme-color("light");
        }
        .select2-search__field:focus {
          box-shadow: none;
          border-color: theme-color("light");
        }
      }
      .select2-results {
        background-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
        .select2-results__options {
          background-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
          color: theme-color("light");
          .select2-results__option.select2-results__option--selected {
            background-color: #d4d4d4;
            color: #212529;
            border-radius: 2px; 
          }
          .select2-results__option.select2-results__option--selected.select2-results__option--highlighted {
            background-color:  lighten(map-get($theme-colors, "dark-lighter"), 20%);
            border-radius: 2px;
            color: theme-color("light");
          }
          .select2-results__option.select2-results__option--selectable.select2-results__option--highlighted {
            background-color:  lighten(map-get($theme-colors, "dark-lighter"), 20%);
            border-radius: 2px; 
            color: theme-color("light");
          }
        }
      }
    }
  }

  .select2-container--bootstrap-5.select2-container--focus {
    box-shadow: 0 0 0 .20rem rgba(0,123,255,0.75);
    .selection {
      .select2-selection {
        color: theme-color("light");
        background-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
      }
    }
  }
  .select2-container--bootstrap-5.select2-container--open {
    .selection {
      
      .select2-selection {
        box-shadow: 0 0 0 .20rem rgba(0,123,255,0.75);
        background-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
      }
    }
  }

  /////// FULL CALENDAR ////////

  .fc .fc-col-header {
    background-color: #09090a;
  }
  .fc .fc-col-header-cell-cushion {
    color:white;
  }

  .fc .fc-timegrid-axis-cushion {
    color: white;
  }
  
  .fc .fc-daygrid-day.fc-day-today, .fc .fc-timegrid-col.fc-day-today {
    background-color: #44444e;
  }
  
  .fc-daygrid-week-number {
    background-color: #636363;
    color: #e2e2e2;
  }
  
  .fc-daygrid-week-number:hover {
    text-decoration: none;
    color: #e2e2e2;
  }
  
  .fc-timegrid-event-harness-inset .fc-timegrid-event {
    box-shadow: none;
  }
  
  .fc .fc-view-harness {
    background-color: #232327;;
  }
  
  .fc .fc-button-primary {
    background-color: #382b71;
    border-color: #382b71;
  }
  .fc .fc-button-primary:not(:disabled):hover {
    background-color: #2b2157;
  }
  .fc .fc-button-primary:not(:disabled).fc-button-active {
    background-color: #2b2157;
  }

  .fc-theme-standard td, .fc-theme-standard th, .fc-theme-standard .fc-scrollgrid {
    border-color: #8e8e93;
  }

  .fc .fc-daygrid-day-number {
    color: white;
  }

  .fc-daygrid-event {
    color: white;
  }
  .fc-daygrid-event:hover {
    color: #cbcaca;
  }

  

  .search-panel {
    background-color: darken(map-get($theme-colors, "dark-lighter"), 5%);
  }

  .top-panel, .search-panel {
    border-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
  }

  .top-panel {
    .nav-links li {
      a {
        &:hover {
          color: theme-color("light");
        }

        .badge.badge-pill {
          background-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
        }
      }

      &.active {
        color: theme-color("light");
      }
    }
  }

  .item-panel {
    .item {
      .item-name {
        color: theme-color("light");
      }
    }
  }

  .labs-panel {
    .lab-item {
      fill: currentColor;

      .lab-item-name {
        color: theme-color("light");
      }

      .lab-item-author {
        color: theme-color("light");
      }
    }
  }

  .lab-booking-active {
    background-color: #343446a2
    // background-color: #35353b;
  }

  .content-list {
    > ul {
      li {
        border-bottom-color: theme-color("dark-lighter");
  
        > .item-left {
          flex-grow: 1;
  
          .item-title {
            display: flex;
            align-items: center;
            font-weight: 600;
            color: #4c4e54;
          }
        }
  
        > .item-right {
          display: flex;
          align-items: center;
          text-align: right;
        }
  
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .list-group-item {
    background-color: theme-color("dark");
    border-color: theme-color("dark-lighter");
  }

  .content-list {
    > li {
      border-top-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
    }

    .title {
      color: white;
    }
  }
  
  .group-list-tree .group-list-tree {
    &::before {
      border-left-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
    }
  
    li::before {
      border-top-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
    }
  
    li:last-child::before {
      background: theme-color("dark");
    }
  
    > li:first-child {
      border-top-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
    }
  }
  
  .group-row-contents {
    &:hover {
      background-color: theme-color("dark-lighter");
    }
  }
  

  .identicon {
    color: theme-color("light");
  }

  .CodeMirror {
    background-color: theme-color("dark-lighter");
    border-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
    color: theme-color("light");
  }

  .CodeMirror-cursor {
    border-left-color: theme-color("light");
  }

  .editor-toolbar, .editor-toolbar.fullscreen {
    background-color: theme-color("dark");
    border-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);

    a, button {
      color: theme-color("light") !important;
      fill: currentColor;

      &:hover, &.active {
        border-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
        background-color: darken(map-get($theme-colors, "dark-lighter"), 5%);
      }
    }

    &::before, &::after {
      background: none;
    }
  }

  .editor-preview, .editor-preview-side {
    background-color: theme-color("dark-lighter");

    pre {
      background: lighten(map-get($theme-colors, "dark-lighter"), 5%);
      color: #52ceab;
    }
  }

  @for $i from 1 through $bg-number {
    .bg-#{$i} {
      background-color: hsl($i * (360 / $bg-number), 50%, 15%);
    }
  }

  .border-left {
    border-left-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%) !important;
  }

  .border-right {
    border-right-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%) !important;
  }

  .border-top {
    border-top-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%) !important;
  }

  .border-bottom {
    border-bottom-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%) !important;
  }

  .dropzone {
    border-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
    background-color: theme-color("dark-lighter");
    color: darken(map-get($theme-colors, "light"), 5%);
  }
  
  .lined-separator {
    color: darken(map-get($theme-colors, "light"), 5%);
  
    &::before, &::after {
      background-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
    }
  }

  .jumbotron {
    background-color: theme-color("dark-lighter");
  }

  .tippy-tooltip.remotelabz-theme {
    background-color: rgb(54, 54, 71);
    color: white;
  }
}

// error
@mixin boxShadow($colour, $length){
  $value: ();
  @for $i from 1 through $length{
    $px: $i + px;
    $shadow: $px $px $colour;
    $value: append($value, $shadow, comma)

  }
  text-shadow: $value;
}

.error-code-container {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

.error-code-container-left {
  font-size: 10rem;
  font-weight: bold;
  color: #c9e5d9;
  text-align: center;
  @include boxShadow(#a10532, 10);
}

.error-code-container-right {
  font-size: 7rem;
  font-weight: bold;
  color: #c9e5d9;
  text-align: center;
  @include boxShadow(#a10532, 8);
}

.error-code-container-bottom {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
}

.error-code-container-descriptive {
  font-size: 3rem;
  font-weight: bold;
  color: #c9e5d9;
  text-align: center;
  @include boxShadow(#a10532, 3);
}

.circle-progress-value {
	stroke-width: 8px;
	stroke: white;
	//stroke-linecap: round;
}
.circle-progress-circle {
	stroke-width: 8px;
	stroke: #888;
}
.circle-progress-text {
	fill: #fef8f8;
  font-weight: bold;
}
