form {
    .form-control {
        color: #2e2e2e;
    }

    input {
        font-size: 1rem !important;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #919191 !important;
        opacity: 1; /* Firefox */
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #919191 !important;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
        color: #919191 !important;
    }
}

input {
    font-size: 1rem !important;
}