$content-bg: #ffffff;
$border-color: #e1e1e1;
$default-font-size: 14px;
$default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$theme-colors: (
  primary: #564D80,
  secondary: #FF6700,
  success: #33c92e,
  info: #6569df,
  warning: #fed961,
  danger: #fd3258,
  light: #f5f7fa,
  dark: #32323d
);

$navbar-light-color: theme-color(primary);

////////// BREADCRUMBS ///////////

$breadcrumb-font-size: 0.875rem;
$breadcrumb-custom-padding-x: 5px;
$breadcrumb-custom-padding-y: 5px;
$breadcrumb-custom-item-padding-x: 5px;
$breadcrumb-custom-item-padding-y: 5px;
$breadcrumb-item-bg: gray;
$breadcrumb-custom-item-color: black;