$content-bg: #ffffff;
$border-color: #e1e1e1;

////////// BREADCRUMBS ///////////

$breadcrumb-font-size: 0.875rem;
$breadcrumb-custom-padding-x: 5px;
$breadcrumb-custom-padding-y: 5px;
$breadcrumb-custom-item-padding-x: 5px;
$breadcrumb-custom-item-padding-y: 5px;
$breadcrumb-item-bg: gray;
$breadcrumb-custom-item-color: black;