[theme="dark"] {
    @each $color, $value in $theme-colors {
        .alert-#{$color} {
            background-color: darken(map-get($theme-colors, "#{$color}"), 15%);
            border-color: darken(map-get($theme-colors, "#{$color}"), 7.5%);
            color: theme-color("light");
        }
    }
}
