.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 150px;
}

.see-more-card {
    background: #f6f6f6;
    color: #979797;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;
}

[theme="dark"] {
    .card {
        background-color: theme-color("dark");
        border-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
    }

    .card-header {
        background-color: theme-color("dark-lighter");
        fill: currentColor;
    }

    .card-footer {
        background-color: theme-color("dark-lighter");
        fill: currentColor;
    }

    .see-more-card {
        background: theme-color("dark-lighter");
    }

    //         border-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
    //         color: darken(map-get($theme-colors, "light"), 5%);

    //         &:focus {
    //             background-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
    //             color: theme-color("light");
    //         }

    //         &:disabled {
    //             border-color: theme-color("dark-lighter");
    //             background-color: darken(map-get($theme-colors, "dark-lighter"), 5%);
    //         }
    //     }
    // }

    // .input-group-text {
    //     background-color: darken(map-get($theme-colors, "dark-lighter"), 5%);
    //     border-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
    //     color: theme-color("light");
    // }

    // .form-actions {
    //     border-top-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
    // }
}
