.editor-wrapper {
    width: 100%;
    height: 800px;
    padding: 16px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;

    > .editor {
        display: flex;
        flex-direction: column;
        height: 100%;

        &.fullscreen {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            padding: 16px;
            z-index: 100;
            background-color: white;
        }
    }
}

.accordion.lab-description {
    .card {
        border-radius: 0.25rem;

        &:last-of-type {
            border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        }

        .card-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.editor-title {
    font-size: 22px;
    font-weight: bold;
}

.editor-title-input {
    background: transparent;
    border: none;
    outline: none;
    font-size: inherit !important;
    color: inherit;
    font-weight: inherit;
    text-shadow: inherit;
    padding: 0;
}

.editor-title-edit-button {
    font-size: 14px;
    border: none;
    background: none;
}

.editor-save-button {
    padding: 0;
    border-radius: 1px;
    outline: none;
    min-width: 30px;
    height: 100%;
    color: white;
    border: none;
    background: transparent;

    &::before {
        content: "\2713";
        margin: 3px;
    }
}

.editor-cancel-button {
    padding: 0;
    border-radius: 1px;
    outline: none;
    min-width: 30px;
    height: 100%;
    color: white;
    border: none;
    background: transparent;

    &::before {
        content: "\2715";
        margin: 3px;
    }
}

.editor-menu {
    flex: 1;
}

.editor-contextual-menu {
    z-index: 1000;
    position: fixed;
}

.editor-canvas-wrapper {
    flex: 2;
    margin-top: 20px;
    // overflow: auto;
    display: flex;
    border-top: 1px solid #e5e5e5;
}

.editor-canvas {
    position: relative;
    overflow: auto;
    transform-origin: 0 0;
    // transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), width 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.editor-aside-toolbar {
    &:empty {
        display:none;
    }
    
    width: 300px;
    min-height: 100%;
    padding: 16px;
    border-left: 1px solid #e5e5e5;
}

.device-network-interface-item {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.editor-toolbar-wrapper {
    width: 100%;
    display: flex;
    border-top: 1px solid #e5e5e5;
    font-size: 0.875rem;
    padding-top: 12px;
    padding-left: 8px;
}

.editor-choice-separator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

    > .editor-choice-separator-line {
        flex: 2;
        height: 0;
        border: 1px solid #e5e5e5;
    }

    > .editor-choice-separator-text {
        font-size: 1.315rem;
        font-weight: bold;
        color: #aaaaaa;
        margin: 0 20px;
    }
}

.node {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 10;
    padding: 10px;

    &.selected {
        // use box-shadow instead of border, for box-sizing reasons
        // https://stackoverflow.com/a/26138991
        box-shadow: rgba(0, 106, 236, 0.7) 0px 0px 0px 3px inset;
        border-radius: 10px;
        background-color: rgba(0, 106, 236, 0.3);
    }

    .node-display {
        width: 50px;
        height: 50px;
        margin: auto;
        background-color: #b28bcc;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transform-origin: center center;

        &:hover {
            -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1);

            .node-display-inside {
                -webkit-transform: scale3d(0.5, 0.5, 0.5);
                transform: scale3d(0.5);

                &:hover {
                    -webkit-transform: scale3d(1, 1, 1);
                    transform: scale3d(1);
                }
            }
        }

        .node-display-inside {
            transition: inherit;
            transform-origin: inherit;
            width: 36px;
            height: 36px;
            background-color: #9561b8;
            border-radius: 50%;
            z-index: 20;
            margin: auto;
            cursor: grab;

            &.dragging {
                cursor: grabbing;
            }
        }
    }
}

.jtk-connector {
    z-index: 1;
    stroke-width: 3;
}

//////////// Utils

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flex-separator {
    flex-grow: 999999;
}

[theme=dark] {
    .editor-wrapper {
        border-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);

        .editor {
            &.fullscreen {
                background-color: theme-color("dark");
            }

            .editor-canvas-wrapper {
                border-top-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
            }

            .editor-aside-toolbar {
                border-left-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
            }

            .editor-toolbar-wrapper {
                border-top-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
            }
        }
    }
    
    .accordion.lab-description {
        .card {
            border-radius: 0.25rem;
    
            &:last-of-type {
                border-bottom: 1px solid lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
            }
    
            .card-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

    .device-network-interface-item {
        border-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
    }

    .editor-contextual-menu-option {
        color: theme-color("light");
        fill: currentColor;

        &:hover {
            background-color: theme-color("dark-lighter");
        }
    }

    .editor-title-input {
        background-color: transparent !important;
    }
}
