[theme="dark"] {
    .modal-content {
        background-color: theme-color("dark");
        border-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
    }

    .modal-header {
        border-bottom-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
    }

    .modal-footer {
        border-top-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
    }

    .close {
        color: theme-color("light");
        text-shadow: none;

        &:hover {
            color: white;
        }
    }
}
