[theme="dark"] {
    .modal-content {
        background-color: theme-color("dark");
        border-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
    }

    .modal-header {
        border-bottom-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
    }

    .modal-footer {
        border-top-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
    }

    .modal .btn-close {
        filter: invert(1) grayscale(100%) brightness(200%);
    }
}

.import-user-modal .modal-dialog,
.import-group-user-modal .modal-dialog {
    max-width: 800px;
    width: 90%;
}
