.table {
    thead {
      font-weight: 600;
      th {
        font-weight: inherit;
        border-bottom: 1px solid #f0f0f0;
        border-top: none;
      }
    }
  
    td {
      border-top: 1px solid #f0f0f0;
      vertical-align: middle;
    }
  
    .item {
      padding: 0 !important;
    }

    
}

.table-striped > tbody > tr:nth-of-type(even) {
        background-color: map-get($theme-colors, "gray-light");
        color: black;
}
    
.table-striped > tbody > tr:nth-of-type(odd) {
        background-color: white;
        color: black;
}

[theme="dark"] {
    .table {
        color: theme-color("light");

        th, td {
            border-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
        }

        thead th {
            border-color: lighten(map-get($theme-colors, "dark-lighter"), 7.5%);
        }
    
        tbody > tr:nth-of-type(odd) {
            background-color: map-get($colors, "dark-lighter");
            color: black
        }

        tbody > tr:nth-of-type(even) {
              background-color: map-get($colors, "dark-lightest");
              color: #f0f0f0
        }
        
        
        
    }

    
}