# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: 'en'
    launch_scripts_directory: '%kernel.project_dir%/public/uploads/launch_scripts'
    profile_picture_directory: '%kernel.project_dir%/public/uploads/user/avatar'
    group_image_directory: '%kernel.project_dir%/public/uploads/group/avatar'
    image_directory: '%kernel.project_dir%/public/uploads/images'
    shibboleth_idp_url: '/Shibboleth.sso'
    shibboleth_remote_user_var: 'eppn'
    api_key_cookie_name: 'bearer'

    app.enable_jitsi_call: '%env(resolve:ENABLE_JITSI_CALL)%'
    app.jitsi_call_url: '%env(resolve:JITSI_CALL_URL)%'
    app.jitsi_call_secret: '%env(resolve:JITSI_CALL_SECRET)%'

    app.general.public_adress: '%env(resolve:PUBLIC_ADDRESS)%'

    app.ssl.ca.cert: '%env(resolve:SSL_CA_CERT)%'
    app.ssl.ca.key: '%env(resolve:SSL_CA_KEY)%'
    app.ssl.ca.key.passphrase: '%env(resolve:SSL_CA_KEY_PASSPHRASE)%'
    app.ssl.tls.key: '%env(resolve:SSL_TLS_KEY)%'
    app.ssl.certs.dir: '%env(resolve:SSL_CERTS_DIR)%'
    app.ssl.certs.validity: '%env(resolve:SSL_CERTS_VALIDITY_DAYS)%'
    app.ssl.dn.cn: '%env(resolve:SSL_DN_CN)%'
    app.ssl.dn.country: '%env(resolve:SSL_DN_COUNTRY)%'
    app.ssl.dn.province: '%env(resolve:SSL_DN_PROVINCE)%'
    app.ssl.dn.city: '%env(resolve:SSL_DN_CITY)%'
    app.ssl.dn.org: '%env(resolve:SSL_DN_ORG)%'
    app.ssl.dn.email: '%env(resolve:SSL_DN_EMAIL)%'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
            - '../src/Tests/'

    # controllers are imported separately to make sure services can be injected
    # as action arguments even if you don't extend any base controller class
    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
    App\EventListener\LaunchScriptUploadListener:
        tags:
            - { name: doctrine.event_listener, event: prePersist }
            - { name: doctrine.event_listener, event: preUpdate }
            - { name: doctrine.event_listener, event: postLoad }

    App\Service\FileUploader:
        arguments:
            $targetDirectory: '%launch_scripts_directory%'

    App\Service\ImageFileUploader:
        arguments:
            $targetDirectory: '%image_directory%'

    App\Service\GroupPictureFileUploader:
        arguments:
            $targetDirectory: '%group_image_directory%'

    App\Service\ProfilePictureFileUploader:
        arguments:
           - '%profile_picture_directory%'
           - '@security.token_storage'

    App\Security\LoginFormAuthenticator:
        arguments:
            $refreshTokenManager: '@gesdinet.jwtrefreshtoken.refresh_token_manager'

    App\Security\ShibbolethAuthenticator:
        arguments:
            - "@router"
            - "%shibboleth_idp_url%"
            - "%shibboleth_remote_user_var%"

    App\EventSubscriber\RenderExceptionSubscriber:
        arguments:
            $logger: '@logger'

    App\EventListener\InstanceSerializationListener:
        tags:
            - { name: jms_serializer.event_subscriber }
    
    GuzzleHttp\Client: ~

    GuzzleHttp\ClientInterface: '@GuzzleHttp\Client'

    App\EventSubscriber\LogoutEventSubscriber:
        arguments:
            - "%api_key_cookie_name%"
    
    openvpn_configuration_generator:
        class: App\Service\VPN\OpenVPNConfigurationGenerator
        public: true
        arguments:
            $commonName: '%app.ssl.dn.cn%'
            $country: '%app.ssl.dn.country%'
            $province: '%app.ssl.dn.province%'
            $city: '%app.ssl.dn.city%'
            $organization: '%app.ssl.dn.org%'
            $email: '%app.ssl.dn.email%'
            $CACert: '%app.ssl.ca.cert%'
            $CAKey: '%app.ssl.ca.key%'
            $CAKeyPassphrase: '%app.ssl.ca.key.passphrase%'
            $TLSKey: '%app.ssl.tls.key%'
            $exportPath: '%app.ssl.certs.dir%'
            $validity: '%app.ssl.certs.validity%'
            $remote: '%app.general.public_adress%'
    
    App\Service\VPN\VPNConfiguratorGeneratorInterface: '@openvpn_configuration_generator'
