{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block base %}
<div id="wrapper">
</div>
	<div class="row">
        <div class="col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-green panel-default">
				<div class="panel-body">
					{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}				
				</div>
			</div>
			<a href="{{path('fos_user_security_login')}}" class="btn btn-lg btn-success btn-block">Retour</a>
        </div>
    </div>
{% endblock %}

