<html>
    <body>
        <p>
            Hello,<br>

            You are invited to join the lab {{labName}} on RemoteLabz. Here is the code to enter on the <a href="{{- link -}}">login page</a>: <br><br>

            <pre>
            {{- code -}}
            </pre>
            <br>

            Regards,
            <br><br>
            The RemoteLabz team.
        </p>
    </body>
</html>