<html>
    <body>
        <p>
            Hello {{ name }},<br><br>

            An account has been created on RemoteLabz with your email. You may <a href="{{- link -}}">click here</a> to access the login page. Here is your password :<br><br>

            <pre>
            {{- password -}}
            </pre>
            <br>

            For security reasons, please change this password as soon as possible.
            <br><br>
            Regards,
            <br><br>
            The RemoteLabz team.
        </p>
    </body>
</html>