<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="author" content="Andrea Dainese"/>
	<meta name="description" content="Default template for Unified Networking Lab software."/>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>RemoteLabz | Topology</title>

	{{ encore_entry_link_tags('editor') }}

	{{ encore_entry_script_tags('editor') }}
</head>
<body>
{% block body %}
{% endblock %}
{% block javascripts_footer %}
{{ encore_entry_script_tags('editor-functions') }}   
{% endblock %}
</body>
</html>