<p>This lab is used by at least an instance. If you continue the instance(s) will be deleted. Do you still want to delete the lab ?</p>
<a href="{{path('force_delete_lab', {'id': id})}}" class="btn btn-danger" role="button">
    {{ 'Yes'|trans }}
</a>