{% extends 'AppBundle::accueil_auth.html.twig' %}

{% block body %}

<div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Liste des TP disponibles</h2>
                        
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
					{% if list_tp is not null %}
					{% for tp in list_tp %}
						<div class="col-md-6 col-sm-6 col-xs-12">{{ tp.nom }}</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
						{% if (tp.managed and user.role.nom != "Enseignant") %}
						 TP supervisé - Seul votre enseignant peut le démarrer
							
						{%else %}
						 <a href="{{path('startLab',{'tp_id': tp.id})}}"><button class="btn btn-success">Start</button></a>						
						{% endif %}
						</div>
					{% endfor %}
					{% else %}
					Aucun TP disponible
					{% endif %}
					</div>
				</div>
				
				<div class="x_panel">
                    <div class="x_title">
                        <h2>Liste des TP lancés</h2>
                        
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
					{% if run is defined and run is not null %}
					{% for tp in run %}
						<div class="col-md-6 col-sm-6 col-xs-12">{{ tp.tp.nom }}</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<a href="{{path('viewLab',{'tp_id': tp.id})}}"><button class="btn btn-success">View</button></a>
						</div>
					{% endfor %}
					{% else %}
					Aucun TP exécuté par l'utilisateur
					{% endif %}
					</div>
				</div>
				
			</div>
</div>

{% endblock %}